/*====================FUNCTIONS========================*/

@function z-order($list, $position){
  $z : index($list, $position);
  
  @if $z{
  	@return $z;
  }
  
  @else{
  	@warn "There is no #{$position} position in the list";
  	@return null;
  }
}



/*=================Math functions====================*/

@function power($base, $exp){
  $value: $base;
  
  @if $exp > 1{
    @for $i from 2 through $exp{
      $value: $value * $base;
    } 
  }
  @if $exp < 1{
    @for $i from 0 through -$exp{
      $value: $value / $base;
    }
  }
  @return $value;
}


