/*====================FUNCTIONS========================*/

@function z-order($list, $position){
  $z : index($list, $position);
  
  @if $z{
  	@return $z;
  }
  
  @else{
  	@warn "There is no #{$position} position in the list";
  	@return null;
  }
}



/*=================Math functions====================*/

@function power($base, $exp: 2){
  $value: $base;
  
  @if $exp > 1{
    @for $i from 2 through $exp{
      $value: $value * $base;
    } 
  }
  @if $exp < 1{
    @for $i from 0 through -$exp{
      $value: $value / $base;
    }
  }
  @return $value;
}


@function log($result, $base: 10){
  $counter: 1;
  $value: $base;
  
  @if $base > 0{
    @if $result == 1{
      $counter: 0;
    }
    @else if $base == $result{
      $counter: 1;
    }
    @else{
      @while $base < $result{
          $base: $base * $value;
          $counter: $counter + 1;
      }
    }
  @return $counter;
}

